:root {
  	--color-one: #F0FF42;
	--color-two: #82CD47;
	--color-three: #54B435;
	--color-four: #379237;
}

  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: var(--color-one);
  color: var(--color-four);
}

header {
	margin: 1rem 1rem 3rem 1rem;
	font-size: 2rem;
}

main {
	margin: 0 auto;
	width: 50%
}

/* === form === */

form {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;

	margin: 0 auto;
	width: 200px;
	
}

#error-message {
	display: none;
	padding: 0.5rem;
	text-align: center;
	font-size: 0.8rem;
}

input {
	border-color: var(--color-two);
	padding: 0.5em;
	width: 100%;
}

input:focus-visible {
	outline: var(--color-three) solid 1px;
}

.button-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2em;
	width: 100%
}

button {
	background-color: var(--color-three);
	color: var(--color-one);
	border-color: var(--color-two);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5rem;
	padding: 0.5em;
	flex: 0 0 auto;
	width: 50%;
}


 /* === list === */

main ul {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;

	margin: 1rem;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;

	list-style: none;
}

main ul li {
	background-color: var(--color-two);
	color: var(--color-one);
	margin: 1rem;
	padding: 1.2em 3.5em;
	cursor: pointer;
}

body > footer {
	font-size: 0.8rem;
	text-align: right;
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	position: fixed;
	right: 0;
	bottom: 0;
}

.crossed-out {
	text-decoration: line-through;
	user-select: none;
}